@{
    ViewData["Title"] = "Login";
}
<main class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="w-50">
        <h1 class="text-center">Login</h1>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Enter email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Enter password" />
            </div>
            <button type="submit" class="btn btn-success w-100">Login</button>
        </form>
    </div>
</main>